    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-stack-overflow"></i> Full Stack Development</h2>
                    <hr class="invisible">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>From native mobile applications to backend server infrastructure we provide a full stack of expertise and experience across
                     a variety of technologies. </p>
                </div>
            </div>
        </div>
    </section>