<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <img class="img-responsive" src="img/avatar.png" alt="">
                    <span class="name">{{ site.title }}</span>
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
              <a href="mailto:{{ page.email }}">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x"></i>
                </span>
              </a>
            </div>
            <div class="col-sm-2">
                <a href="https://github.com/juiceware" target="_blank">
                    <span class="fa-stack fa-3x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>
